<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List Student</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">

</head>
<body onload="getAllStudent()">
<input type="text" placeholder="nhap ten muon tim" id="search"><button onclick="searchStudent()">Search</button>
<br>
<button onclick="showFormAddStudent()">AddStudent</button>
<div id="display"></div>
</body>
<script src="studentjs.js"></script>
</html>